
body {
  font-family: "arial", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase;
}

code {
  display: block;
  margin: 6px 0 20px;
}

li {
  font-size: 0.8em;
  letter-spacing: 1px;
  padding: 0 0 10px;
}

.park {
  margin: 10px auto;
  max-width: 400px;
  padding: 0 20px;
}

.unvisited {
  border: 1px solid green;
}

.visited {
  border: 1px dashed red;
}

h3 {
  font-size: 1em;
  font-weight: 800;
  margin: 10px 0 0;
}

.visited h3 {
  color: red;
}

.visited h3 ~ p:nth-child(2) {
  color: red;
}

.unvisited h3 {
  color: green;
}

.unvisited h3 ~ p:nth-child(2) {
  color: green;
}

p {
  font-size: 0.9em;
  margin: 0;
  padding: 8px 0;
}

article.park p:nth-child(3) {
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

ul {
  margin: 5px 0 10px;
}